/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     min-height: 100vh;
     width: 100%;
     display: flex;
     flex-direction: column;
 }

 header {
     height: 60px;
 }

 footer {
     padding: 20px 0;
     height: 100px;
 }

 .page-content {
  min-height: calc(100vh - 60px - 100px)
 }

 /* -------------------------------------------------------- */
 /* utility css classes */
 /* -------------------------------------------------------- */
 .overflow-x-enable {
    overflow-x: auto;
 }

 .overflow-y-enable {
    overflow-y: auto;
 }

 .margin0 {
     margin: 0;
 }

 .mt-30px {
     margin-top: 30px;
 }

 .mb-3px {
     margin-bottom: 3px;
 }

 .font-light {
     color: white;
 }

 .border-bottom-grey {
     border-bottom: 1px solid rgba(0,0,0,.125);
 }

 .inline {
     display: inline;
 }
